In [102]:
import pandas as pd

In [103]:
students = ['Alice','Molly','Jack']

In [104]:
pd.Series(students)

0    Alice
1    Molly
2     Jack
dtype: object

In [105]:
numbers = [1,2,3]

In [106]:
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [107]:
students = ['Alice','Molly',None]

In [108]:
pd.Series(students)

0    Alice
1    Molly
2     None
dtype: object

In [109]:
numbers = [1,2,None]

In [110]:
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [111]:
import numpy as np

In [112]:
np.nan == None

False

In [113]:
np.nan == np.nan

False

In [114]:
np.isnan(np.nan)

True

In [115]:
students_scores = {'Alice':'Physics',
                  'Jack':'Chemistry',
                  'Molly':'English'}

In [116]:
s= pd.Series(students_scores)

In [117]:
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [118]:
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [119]:
students = [('Alice','Brown'),('Jack','White'),('Molly','Green')]

In [120]:
pd.Series(students)

0    (Alice, Brown)
1     (Jack, White)
2    (Molly, Green)
dtype: object

In [121]:
students_scores = {'Alice':'Physics',
                  'Jack':'Chemistry',
                  'Molly':'English'}

In [122]:
s=pd.Series(students_scores, index=['Alice','Jack','Molly'])

In [123]:
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [124]:
students_class = {'Alice':'Physics',
                 'Jack':'Chemistry',
                 'Molly':'English',
                 'Sam':'History'}

In [125]:
students_class

{'Alice': 'Physics', 'Jack': 'Chemistry', 'Molly': 'English', 'Sam': 'History'}

In [126]:
s=pd.Series(students_class)

In [127]:
s

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [128]:
s.iloc[3]

'History'

In [129]:
s.loc['Molly']

'English'

In [130]:
s[3]

'History'

In [131]:
s['Molly']

'English'

In [138]:
grades = pd.Series([90,80,70,60])

In [139]:
total = 0

In [142]:
for grade in grades:
    total+=grade
print(total/len(grades))

75.0

In [143]:
total = np.sum(grades)

In [144]:
print(total/len(grades))

75.0

In [146]:
numbers = pd.Series(np.random.randint(0,1000,10000))

In [147]:
numbers.head()

0    361
1    164
2    371
3     67
4    918
dtype: int64

In [148]:
len(numbers)

10000

In [153]:
%%timeit -n 100
total = np.sum(numbers)
total/len(numbers)

The slowest run took 4.40 times longer than the fastest. This could mean that an intermediate result is being cached.
68.9 µs ± 34.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [154]:
numbers.head()

0    361
1    164
2    371
3     67
4    918
dtype: int64

In [156]:
numbers += 2
numbers.head()

0    363
1    166
2    373
3     69
4    920
dtype: int64

In [170]:
for label, value in numbers.iteritems():
    numbers.at[label]=value+2

In [171]:
numbers.head()

0    365
1    168
2    375
3     71
4    922
dtype: int64

In [191]:
p=pd.Series(np.random.randint(0,1000,1000))

In [192]:
p

0       83
1      127
2       65
3      630
4      782
      ...
995    501
996    849
997     14
998    852
999    994
Length: 1000, dtype: int64

In [193]:
for label, value in p.iteritems():
    p.loc[label] = value+2

In [194]:
p.head()

0     85
1    129
2     67
3    632
4    784
dtype: int64

In [195]:
s

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [196]:
s.loc['History'] = 102

In [197]:
s

Alice        Physics
Jack       Chemistry
Molly        English
Sam          History
History          102
dtype: object

In [198]:
students

[('Alice', 'Brown'), ('Jack', 'White'), ('Molly', 'Green')]

In [199]:
students_class = pd.Series({'Alice':'Physics',
                 'Jack':'Chemistry',
                 'Molly':'English',
                 'Sam':'History'})

In [203]:
kelly_class = pd.Series(['Philosophy','Arts','Maths'], index=['Kelly','Kelly','Kelly'])

In [204]:
kelly_class

Kelly    Philosophy
Kelly          Arts
Kelly         Maths
dtype: object

In [205]:
all_stud = students_class.append(kelly_class)

In [206]:
all_stud

Alice       Physics
Jack      Chemistry
Molly       English
Sam         History
Kelly    Philosophy
Kelly          Arts
Kelly         Maths
dtype: object

In [207]:
all_stud.loc['Kelly']

Kelly    Philosophy
Kelly          Arts
Kelly         Maths
dtype: object