In [102]:
import pandas as pd

In [103]:
students = ['Alice','Molly','Jack']

In [104]:
pd.Series(students)

0    Alice
1    Molly
2     Jack
dtype: object

In [105]:
numbers = [1,2,3]

In [106]:
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [107]:
students = ['Alice','Molly',None]

In [108]:
pd.Series(students)

0    Alice
1    Molly
2     None
dtype: object

In [109]:
numbers = [1,2,None]

In [110]:
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [111]:
import numpy as np

In [112]:
np.nan == None

False

In [113]:
np.nan == np.nan

False

In [114]:
np.isnan(np.nan)

True

In [115]:
students_scores = {'Alice':'Physics',
                  'Jack':'Chemistry',
                  'Molly':'English'}

In [116]:
s= pd.Series(students_scores)

In [117]:
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [118]:
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [119]:
students = [('Alice','Brown'),('Jack','White'),('Molly','Green')]

In [120]:
pd.Series(students)

0    (Alice, Brown)
1     (Jack, White)
2    (Molly, Green)
dtype: object

In [121]:
students_scores = {'Alice':'Physics',
                  'Jack':'Chemistry',
                  'Molly':'English'}

In [122]:
s=pd.Series(students_scores, index=['Alice','Jack','Molly'])

In [123]:
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [124]:
students_class = {'Alice':'Physics',
                 'Jack':'Chemistry',
                 'Molly':'English',
                 'Sam':'History'}

In [125]:
students_class

{'Alice': 'Physics', 'Jack': 'Chemistry', 'Molly': 'English', 'Sam': 'History'}

In [126]:
s=pd.Series(students_class)

In [127]:
s

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [128]:
s.iloc[3]

'History'

In [129]:
s.loc['Molly']

'English'

In [130]:
s[3]

'History'

In [131]:
s['Molly']

'English'

In [138]:
grades = pd.Series([90,80,70,60])

In [139]:
total = 0

In [142]:
for grade in grades:
    total+=grade
print(total/len(grades))

75.0

In [143]:
total = np.sum(grades)

In [144]:
print(total/len(grades))

75.0

In [146]:
numbers = pd.Series(np.random.randint(0,1000,10000))

In [147]:
numbers.head()

0    361
1    164
2    371
3     67
4    918
dtype: int64

In [148]:
len(numbers)

10000

In [150]:
%%timeit -n 100
total = np.sum(numbers)
total/len(numbers)

The slowest run took 4.46 times longer than the fastest. This could mean that an intermediate result is being cached.
69.1 µs ± 34.3 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)